header{
    width: 100%;
    min-height: 200px;
}

aside{
    width: 25%;
    min-height: 1000px;
    float: left;
}

section{
    float: left;
    width: 75%;
    min-height: 1000px;
    background-color: aqua;
}

footer{
    /* clear: both; */
    width: 100%;
    min-height: 1000px;
}
div{
    width: 100%;
    height: 75%;
    
}
h1{
    font-size: 500%;
    text-align: center;
}
ul.top{
    list-style-type: none;
}
#skills{
    align-content: center;
}
#skills h2{
    font-size: 350%;
}
#skills h4{
    font-weight: initial;
    font-size: 150
}

#selfParagraph p {
    font-size: 125%;
}
#pic{
    height: 100%;
    width: 100%;
}


